@inherits LayoutComponentBase

<PageTitle>SAId</PageTitle>

<div class="page">
    <div class="sidebar" id="sidebarId">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth" id="TopBarId">
            <LoginDisplay />
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
